#homeContainer {
    background-color: rgb(233, 232, 232);
    text-align: center;
    margin-top: 1em;
}

#searchContainer {
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

header, .column, .bigColumn, footer {
    background-color: rgb(170, 169, 169);
}

h1 {
    display: inline;
}

nav {
    text-align: right;
    padding-bottom: 20px;
}

.column, .bigColumn {
    display: inline-block;
}

.column {
    width: 25%;
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.bigColumn {
    width: 43%;
    margin-left: 1em;
    margin-right: 1em;
}

footer, header {
    height: 80px;
}

footer {
    text-align: center;
}

