#homeContainer {
    background-color: rgb(233, 232, 232);
    text-align: center;
    margin-top: 1em;
}

#searchContainer {
    width: 100%;
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

header, .column, .bigColumn, footer, #searchColumn, #resultsColumn {
    background-color: rgb(170, 169, 169);
}

h1 {
    display: inline;
}

nav {
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10px;
}

.column, .bigColumn, #searchColumn, #resultsColumn {
    display: inline-block;
}

.column {
    width: 25%;
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.bigColumn {
    width: 43%;
    margin-left: 1em;
    margin-right: 1em;
}

#searchColumn {
    float: left;
    width: 25%;
    padding: 0;
    margin: 0;
    margin-top: 1.5em;
    height: 600px;
    overflow-y: auto; /* Enable vertical scrolling */
}

#resultsColumn {
    width: 73.8%;
    margin-left: 1em; /* Add margin to separate the columns */
    margin-top: 1.5em;
    max-height: 600px;
    overflow-y: scroll;
}

footer, header {
    height: 80px;
}

footer {
    text-align: center;
}


